<div class="row">
    <div class="col-md-12 text-right">
        <a class="btn btn-primary btn-sm" href="/addproject">
            <i class="glyphicon glyphicon-plus"></i>
            Add Project
        </a>
    </div>
</div>
        <br/>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" ng-show="error"> {{ error }}</div>
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Project List</h4></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Billable</th>
                            <th>Active</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in projects">
                            <td></td>
                            <td><a href="/projecttask/{{project.pk}}">{{ project.title }}</a></td>
                            <td>{{ project.description }}</td>
                            <td>{{ project.start_date }}</td>
                            <td>{{ project.end_date }}</td>
                            <td class="text-center">
                                <i class="glyphicon glyphicon-check text-success" ng-show="project.is_billable"></i>
                                <i class="glyphicon glyphicon-ban-circle text-danger" ng-show="!project.is_billable"></i>
                            </td>
                            <td class="text-center">
                                <i class="glyphicon glyphicon-check text-success" ng-show="project.is_active"></i>
                                <i class="glyphicon glyphicon-ban-circle text-danger" ng-show="!project.is_active"></i>
                            </td>
                            <td>
                                <a class="btn btn-success btn-xs" href="/editproject/{{project.pk}}">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    Edit
                                </a>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="deleteProject(project.pk)">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer text-right">
               &nbsp;
            </div>
        </div>
    </div>
</div>
<!-- MODAL TO ADD PROJECT -->
<form class="form-horizontal" role="form" ng-submit="postProject()">
    <div class="modal fade" id="add_project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Add Project
                    </h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="title">Title</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" required name="title" ng-model="projectData.title" id="title" placeholder="Title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="description">Description</label>

                        <div class="col-sm-10">
                            <textarea name="description" required id="description" ng-model="projectData.description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="start_date">Start Date</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" required ng-model="projectData.start_date" name="start_date" id="start_date" placeholder="Start Date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="end_date">Start Date</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="end_date" ng-model="projectData.end_date" id="end_date" placeholder="End Date"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="is_billable">Is Billable</label>
                        <div class="col-sm-10">

                        <select name="is_billable" id="is_billable"
                                ng-options="option as option.label for option in options track by option.value" ng-model="project.is_billable">
                        </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="is_active">Is Active</label>
                        <div class="col-sm-10">

                            <select name="is_active" id="is_active"
                                    ng-options="option as option.label for option in options track by option.value" ng-model="project.is_active"></select>

                            
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Save Project
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

